// Announcement button
.announcement-button {
	display: inline-block;
	position: relative;
}

.announcement-container {
	display: none;
	width: 300px;
	min-height: 93px;
	background: white;
	border-radius: 0.25rem;
	padding: 12px;
	overflow-x: hidden;
	// The box shadow that canvas uses.
	box-shadow: rgba(0, 0, 0, 0.2) 0 0.0625rem 0.125rem, rgba(0, 0, 0, 0.1) 0 0.0625rem 0.1875rem;

	position: absolute;
	top: 45px;
	right: -120px;

	h4 {
		color: rgb(82, 82, 82);
		font-size: 16px;
		font-weight: 700;
	}

	// Title/link for announcement
	a {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	// Announcement course
	p {
		font-size: 0.9em;
		margin-top: 0;
	}

	.announcement + .announcement:before {
		content: "";
		display: block;
		background: linear-gradient(90deg, transparent 7%, #b7b7b7 25%, #b7b7b7 75%, transparent 93%);
		height: 1px;
		margin-bottom: 3px;
		width: 100%;
	}

	// If the element doesn't have any announcements it will add a "No announcements" message.
	&:not(:has(.announcement)):after {
		content: "No announcements";
		display: block;
		text-align: center;
		margin-top: 24px;
	}
}

.announcement-container:before {
	// The up arrow from the container.
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 0 calc(0.5625rem) calc(0.5625rem);
	border-color: transparent white white;
	bottom: 100%;
	margin-inline: calc(-0.5625rem) 0;
	border-inline-color: transparent;
	inset-inline-start: 50%;
}

.announcement-button:focus-within .announcement-container,
.announcement-container:hover {
	display: block;
}
