@import "../colors";
$sidebar-animation: 0.45s ease-in-out;

.dd-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	inset-inline: auto 0;
	overflow: hidden auto;
	z-index: 9999;
	background-color: white;
	box-shadow: rgb(0 0 0 / 10%) 0 0.375rem 0.4375rem, rgb(0 0 0 / 25%) 0 0.625rem 1.75rem;
	box-sizing: border-box;
	width: 30em;
	max-width: 100%;

	// So the sidebar can have full height area to be dropped on by dragula.
	display: flex;
	flex-direction: column;

	// Slide in animation
	animation: slide-in $sidebar-animation;

	.sidebar-course .course-assignments {
		// Sidebar assignment formatting
		display: block;
		list-style: none;
		padding: 0;
		margin: 0;

		.assignment {
			padding: 0 0 0.5rem;
			align-items: center;
			cursor: grab;

			.name {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				padding-left: 50px;
				margin-top: 0.5rem;
				display: block;
			}

			.estimate-edit,
			.time-taken {
				padding-top: 0.5rem;
				padding-left: 50px;
				margin: 0;

				input {
					margin-bottom: 0;
					max-width: 45px;
				}
			}

			> .estimate-label,
				// Events never go to the planner.
			.location,
				// Visibility doesn't effect anything in the sidebar.
			.visibility,
				// If it is completed there's no point in setting an estimate.
			&.completed .estimate-edit,
				// Hide the time-taken if it isn't completed.
			&:not(.completed) .time-taken{
				display: none;
			}

			.due-date {
				font-size: 0.75em;
				color: $greyed-text;
				padding: 0.5rem 0 0.5rem 50px;

				span {
					display: block;
				}
			}
		}
	}

	.course-name {
		padding: 0.5em 0.9rem;
		position: relative;
		cursor: pointer;

		// Tab for if it is collapsed or not.
		&::after {
			content: "<";
			display: inline-block;
			position: absolute;
			top: 0.1em;
			right: 0.4em;
			rotate: -90deg;

			// Make it a bit stretched out.
			transform: scale(0.5, 1);

			// Make it bigger to make up for that stretch.
			font-size: 1.5em;
			transition: rotate 0.3s ease;
		}
	}

	.sidebar-courses {
		height: 100%;
	}

	.sidebar-course.collapsed {
		.course-assignments {
			display: none;
		}

		.course-name::after {
			rotate: 0deg;
		}
	}

	&.slide-out {
		animation: slide-out $sidebar-animation;

		@media (width <= 1000px) {
			animation: slide-down $sidebar-animation;
		}
	}

	@media (width <= 1000px) {
		top: 50%;
		width: 100%;
		animation: slide-up $sidebar-animation;
	}
}

// Make room for the user to scroll all the way down when the sidebar is open.
@media (width <= 1000px) {
	#content {
		transition: padding-bottom $sidebar-animation;

		&:has(.sidebar-open) {
			padding-bottom: 250px;
		}
	}
}

// I would like to apologize for the code you are about to read. I decided to do some logic in CSS with :has and :not.
// The other main option would be to create functions that check for the need for each item and call it in several places.
// There likely isn't a problem with that, but keeping track of that seemed overcomplicated compared to this.


// Add the canvas line between each assignment.
// Don't add one before the first assignment.
// Don't add one between hidden assignments (caused by dragged items that are hidden.)
// Don't add one if the toggle show completed is off and the assignment is completed.
.dd-sidebar:has(.sidebar-show-complete:not(:checked)) .assignment:not(.completed, .hidden) + .assignment::before,
.dd-sidebar:has(.sidebar-show-complete:checked) .assignment:not(.hidden) + .assignment::before {
	content: "";
	display: block;
	background: linear-gradient(90deg, transparent 7%, $light-grey 25%, $light-grey 75%, transparent 93%);
	height: 1px;
	margin-bottom: 3px;
	width: 100%;
}

// Hide the completed assignments when the toggle is off.
.dd-sidebar:has(.sidebar-show-complete:not(:checked)) .sidebar-course li.completed {
	display: none;
}


// Add the no assignments message.
.course-assignments:empty::before,
// Has no assignments that aren't hidden.
.course-assignments:has(.assignment.hidden):not(:has(.assignment:not(.hidden)))::before,
// Has no assignments that aren't completed and the toggle is off.
.dd-sidebar:has(.sidebar-show-complete:not(:checked)) .course-assignments:not(:has(.assignment:not(.completed)))::before {
	content: "No assignments to plan.";
	display: block;
	text-align: center;
	line-height: 50px;
}

// Sidebar animations
@keyframes slide-in {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	66% {
		opacity: 1;
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}

// Small screens
@keyframes slide-up {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	66% {
		opacity: 1;
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100%);
	}
}
