// Show older assignments button
.show-more-button {
	display: block;
	position: absolute;
	bottom: -30px;
	right: 0;
	padding: 3px 10px;
	cursor: pointer;
	color: white;
	background: #0076B6;
	border-radius: 0 0 4px 4px;
}

// Hide this when the sidebar is open. It won't work while the sidebar is open and tablet view can see both at once.
#dashboard:has(> #dd-planner.sidebar-open) .show-more-button {
	display: none;
}

// Add hover effect for our scroll button
.dd-scroll-button {
	background: 0;
	padding: 0;
	border: 0;
	margin: 0 24px 0 0;
	transition: background 0.2s ease 0s;

	&:hover > span {
		background: #F2F2F2;
	}
}

// Change margins on the buttons
.dd-sidebar-button,
div.announcement-button {
	@media (width <= 896px) {
		// The specificity they use is 0,10,0. I don't have an ID I can use. So I have to use !important.
		margin-right: 12px !important;
	}

	@media (width <= 592px) {
		// The specificity they use is 0,10,0. I don't have an ID I can use. So I have to use !important.
		margin-right: 8px !important;
	}
}

.dd-scroll-button {
	@media (width <= 896px) {
		margin-right: 9px;
	}

	@media (width <= 592px) {
		margin-right: 6px;
	}
}
