#dd-planner {
	// 229px is the height of the header.
	min-height: calc(100vh - 229px);
	width: 100%;

	// The header height changes at this width.
	@media screen and (width <= 991px) {
		min-height: calc(100vh - 253px);
	}

	.weekday-name {
		// Make the weekday names bold.
		font-weight: bold;
		font-size: 1.4em;
	}

	.weekday-assignments {
		min-height: 50px;
		margin: 0 0 6px;

		// Add the no assignments message
		// Check if it has no children
		&:empty::before,
		// Check if it does not have any assignments that don't have the class "hidden"
		&:not(:has(.assignment:not(.hidden)))::before {
			content: "No Assignments Planned";
			display: block;
			text-align: center;
			line-height: 50px;
			font-size: 1.2em;
		}
	}
}

// Show older assignments button
.show-old-assignments {
	display: block;
	position: absolute;
	bottom: -30px;
	right: 0;
	padding: 3px 10px;
	cursor: pointer;
	color: white;
	background: rgb(0 118 182);
	border-radius: 0 0 4px 4px;
}

// Loading spinner
.spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px;

	& .path {
		// Sidebar's color.
		stroke: var(--ic-brand-global-nav-bgd);
		stroke-linecap: round;
		animation: dash 1.5s ease-in-out infinite;
	}
}

// Add hover effect for our scroll button
.dd-scrollButton {
	transition: background 0.2s ease 0s;

	&:hover > span {
		background: rgb(242 242 242);
	}
}

// Change margins on the buttons
.dd-sidebar-button,
span.announcement-button {
	@media (width <= 896px) {
		// The specificity they use is 0,10,0. I don't have an ID I can use. So I have to use !important.
		margin-right: 12px !important;
	}

	@media (width <= 592px) {
		// The specificity they use is 0,10,0. I don't have an ID I can use. So I have to use !important.
		margin-right: 8px !important;
	}
}

// Spinner animations
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
