@import "../colors";

// The link to Deadline Dynamo Settings.
.dd-link.active {
	background-color: white;

	// Needed more specificity.
	.menu-item__text {
		color: $light-blue;
	}

	img {
		height: 26px;
	}
}
