input[type = "checkbox"] + label {
	margin-left: 4px;
}

// Put the textbox on a new line.
label + input[type = "number"] {
	display: block;
}

// Hamburger button.
i.icon-hamburger::before {
	font-size: 24px !important;
}

// To make enough room for the nav.
#left-side {
	width: 200px;
}

.settings-wrapper .settings-container {
	h1 {
		width: 100%;
		flex-shrink: 0;
	}

	input {
		margin: 0 0 2px 4px;
	}

	.button-container {
		display: flex;
		justify-content: flex-end;

		#save-button {
			width: 150px;
			margin-left: 20px;
		}
	}
}

@media (width <= 600px) {
	.settings-container {
		flex-direction: column;
		padding-left: 25px;
	}
}
